@model IList<MyShop.Share.ProductVm>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-3 col-sm-3 col-xs-3 d-flex align-items-stretch mb-4">
            <div class="card">
                <a asp-controller="Product" asp-action="ProductView" asp-route-id=@product.Id>
                    <img class="card-img-top card-img" src=@product.ThumbnailImageUrl>
                </a>
                <div class="card-body mb-3">
                    <h5 class="card-title">@product.Name</h5>
                    <p><strong>@product.Price.ToString("n0")</strong> VND</p>
                    <a class="btn btn-primary product-button"
                    asp-controller="Cart" asp-action="AddProductToCart" 
                    asp-route-productId=@product.Id asp-route-orderQty=1 asp-route-categoryId=@product.CategoryId>ADD TO CART</a>
                </div>
            </div>
        </div>
    }
</div>
