@model IList<MyShop.Share.ProductVm>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-4" >
            <h2>@product.Name</h2>
            <img class="img-thumbnail" src=@product.ThumbnailImageUrl >
        </div>
    }
    
</div>
